.technical-text {
  max-width: 800px;
  padding-right: 5vw;
}

.sub-competence {
  opacity: 0;
  margin-top: 50px;
}
.sub-competence h4 {
  font-size: 2em;
}
.sub-competence p {
  font-size: 14px;
  line-height: 1.3;
}

.data-sub-competence {
  position: absolute;
  opacity: 0;
  padding-left: 5vw;
  max-width: 800px;
  padding-right: 10vw;
  padding-top: 100px;
}
.data-sub-competence h4 {
  font-size: 2em;
}
.data-sub-competence p {
  font-size: 1.1em;
}
.data-sub-competence button {
  display: none;
}

.technical {
  height: 88vh;
  max-width: 45vw;
}
.technical svg,
.technical img {
  height: 100%;
}
.technical svg {
  position: absolute;
  fill: transparent;
  z-index: 10;
}
.technical polygon {
  stroke: #fff;
  stroke-width: 20;
  transition: all 0.6s ease;
  will-change: stroke;
}
.technical polygon:hover, .technical polygon:focus {
  stroke: #33f0dd;
  stroke-width: 35;
}
.technical .active polygon {
  fill: #33f0dd;
  stroke: #33f0dd;
}

.sub-background {
  fill: #20262c;
}

.sub-shapeWithHex {
  fill: #2E3840;
}

.sub-hexagon {
  fill: #33F0DC;
}

.sub-loading {
  opacity: 0.7;
  fill: #FFFFFF;
}

.sub-globe {
  opacity: 0.2;
  fill: #FFFFFF;
}

.sub-globe {
  fill: none;
  stroke: #E0F7FA;
  stroke-width: 0.827;
  stroke-miterlimit: 10;
}

.sub-arc {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 6;
}

body {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}