@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
  height:100vh;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  font-family: 'Press Start 2P', cursive;
  font-smoothing: antialiased;
  margin: 0.8em 0;
  font-size: 18px;
  color: green;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  font-family:'Press Start 2P', cursive;
  margin:50px auto 20px;
  width:80%;
  max-width:600px;
  text-align: center;
  position:relative;
}
.label{
  font-family:'Press Start 2P', cursive;
  display:inline-block;
  font-size:.8em;
  color:#fff;
  padding:5px 10px;
  border-radius:6px 6px 0px 0px;
  background-color: green;
  opacity: 1;
  margin-bottom:0px;
}
#result{
  font-family:'Press Start 2P', cursive;
  margin:auto;
  width:100%;
  max-width:600px;
  padding:20px 0px 10px;
  font-size:1.4rem;
  line-height:1.3em
}
.enc{
  color: green; /*#15bd9b;*/
  opacity: .8;
}
.container {
  width: 90%;
  max-width: 600px;
  border-radius: 5px;
  text-align: left;
  vertical-align: middle;
  margin: 0px 0 20px;
}
.button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin:0 0 20px 0px;
  text-align: center;
  text-weight:900;
  padding:12px 15px;
  cursor:pointer;
	transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	color: white;
	box-shadow: green 0 0px 0px 2px inset;
  border-radius:0 6px 6px 6px;
}

.button:hover {
	color: #fff;
	box-shadow: green 0 0 0 40px inset;
}
